<!-- FOOTER -->
<div id="footer" class="flex flex-col justify-center items-center p-1 text-xs leading-relaxed bg-slate-600 text-slate-300">
   <p><a href="https://github.com/jesarx/buscalibre-tracker" class="font-bold text-slate-200">buscalibre-tracker</a> [v. 1.0] es desarrollado por <a href="https://jesarx.com" class="font-bold text-slate-200">jesarx</a></p>
   <p>bajo la licencia <a href="https://creativecommons.org/publicdomain/zero/1.0/" class="font-bold text-slate-200">CC0 1.0 Universal</a></p>
</div>
<!-- / FOOTER -->