<%- include('includes/head.ejs', { title: 'Rastreador de Buscalibre' }) %>
<body>
<%- include('includes/nav.ejs') %>

<div class="flex overflow-auto flex-col gap-4 items-center py-3 h-screen bg-slate-300">
   
   <!-- CARD -->
   <div class="flex flex-col items-stretch text-center p-5 mt-20 gap-3 rounded-md bg-slate-400 w-3/4 md:w-[25rem]">
      <p class="p-3 font-bold text-black bg-red-800 rounded-md">
         Acceso restringido. por favor ingresa con tu cuenta!
      </p>
   </div> 
   <!-- / CARD -->

</div>

<%- include('includes/footer.ejs') %>

</body>
</html>